.message-pile-box{
    width: 98%;
    height: auto;
    margin: 10px;
    display: grid;
    grid-template-columns: 52px auto;

}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius:50% ;
    background-color: #333;

}
.profile-pic img{
    height: 100%;
    width: 100%;
    border-radius:50%;
}

.react-comment>button{
    background-color: transparent;
    border: none;
    padding: 10px;
    width: fit-content;
    /* margin: 5px 0px; */
    font-weight: 400;
    height: 3rem;
    
}
span{
    margin-right: 10px;
}

.react-comment{
    display: flex;
}
*{
    color: white;
    font-size: 15px;
}