
.vidContainer{
    margin-left:10px;
    margin-top:10px;
    max-width:max-content;
    height:auto;
    width:100%;
    border: 3px solid green;

}


@media screen and (max-width:1000px) {
    .vidContainer{
        width: 98%;
    }
}
